*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p, span, li, a{
    font-size: 16px;
}

html, body{
    height: 100%;
}



.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #d5f4f9;
}

main{
    flex: 1 1 auto;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 15px;
}

.title{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
}

.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #009eff;
    border-radius: 16px;
    color: #d5f4f9;
}

.header__nav-list{
    display: flex;
    gap: 20px;
    font-size: 18px;
    list-style: none;
}

.main__content{
    display: grid;
    grid-template: "projects sidebar" 100% / 1fr 400px;
    gap: 30px;
}

.projects{
    grid-area: projects;
}

.projects__content h2{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    padding: 30px;
    margin-bottom: 30px;
    background-color: #12b3ab;
    border-radius: 16px;
    color: #d5f4f9;
}

.projects__finished-cards, .projects__unfinished-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-bottom: 30px;
}

.projects-card{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.projects-card img{
    width: 100%;
    border-radius: 16px;
}

.projects-card__info{
    margin-top: 10px;
    padding: 15px;
    background-color: #00c598;
    border-radius: 16px;
    color: #d5f4f9;
}

.projects-card__info h3{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
}

.projects-card__info p{
    margin-top: 10px;
}

.projects-card__info button{
    cursor: pointer;
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #d5f4f9;
    border: 1px solid #000;
    border-radius: 8px;
    transition: .6s ease all;
}

.projects-card__info button:hover{
    background-color: #12b3ab;
    border: 1px solid #d5f4f9;
    border-radius: 8px;
    color: #d5f4f9;
    transition: .6s ease all;
}

aside{
    grid-area: sidebar;    
    padding: 30px;
    background-color: #0da9d9;
    border-radius: 16px;
    color: #d5f4f9;
}

aside h2{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    margin-bottom: 30px;
}

.footer__content{
    display: flex;
    justify-content: end;
    padding: 30px;
    background-color: #2be0b7;
    border-radius: 16px;
    color: #d5f4f9;
}

.footer__right{
    text-align: right;
}

.footer__right span{
    font-style: italic;
    font-size: 14px;
}